services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecurepassword
      POSTGRES_DB: vyaparforge
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      # Database connection
      DATABASE_URL: "postgresql://postgres:mysecurepassword@db:5432/vyaparforge"
      
      # Authentication Configuration
      # Replace with your actual server IP or domain
      NEXTAUTH_URL: "http://167.235.141.107:3000"
      
      # Run 'openssl rand -base64 32' to generate a unique secret
      NEXTAUTH_SECRET: "6b3e7f9a1c2d4e5f8g9h0i1j2k3l4m5n6o7p8q9r0s"
      
    depends_on:
      - db

volumes:
  postgres_data: